[submodule "third-party/url"]
	path = third-party/url
	url = https://github.com/boostorg/url
[submodule "third-party/hmac_sha256"]
	path = third-party/hmac_sha256
	url = https://github.com/h5p9sl/hmac_sha256
